{% extends 'admin.html.twig' %}

{% block body %}

    <h1>Liste des films</h1>

    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-striped">
                <tr>
                    <th>Titre</th>
                    <th>Date de sortie</th>
                    <th>Durée</th>
                    <th>Langue</th>
                    <th>Nationnalité</th>
                    <th>Catégorie</th>
                    <th>Réalisateur</th>
                    <th>Action</th>
                </tr>
                {% for movie in movies %}
                    <tr>
                        <td>{{ movie.title }}</td>
                        <td>{{ movie.releaseDate | date('d/m/Y') }}</td>
                        <td>{{ movie.duration }}</td>
                        <td>{{ movie.language }}</td>
                        <td>{{ movie.nationality }}</td>
                        <td>{{ movie.category }}</td>
                        <td>{{ movie.directorFirstName }} {{ movie.directorName }}</td>
                        <td>
                            <div class="col-md-6">
                                <a href="{{ path('admin_film_edit', {'id': movie.id }) }}" class="btn btn-success">Modifier</a>
                            </div>
                            <div class="col-md-6">
                                <a href="{{ path('admin_film_delete', {'id': movie.id}) }}" class="btn btn-danger glyphicon glyphicon-trash"></a>
                            </div>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>

    <div class="pagination">
        {% if pagination.nbPages > 0 %}
            {% for p in range(max(pagination.page-4, 1), min(pagination.page+4, pagination.nbPages)) %}
                <li {% if p == pagination.page %}class="active"{% endif %}>
                    <a href="{{ path(pagination.nomRoute, pagination.paramsRoute|merge({'page': p})) }}">
                        {{ p }}
                    </a>
                </li>
            {% endfor %}
        {% endif %}
    </div>

{% endblock %}

{% block aside %}
    <h1>Panneau de configuration</h1>
    <div>
        <a href="{{ path('admin_film_new') }}" class="btn btn-primary">
            Ajouter un film
        </a>
    </div>
{% endblock %}