{% extends 'base.html.twig' %}

{% block body %}



{% endblock %}

{% block aside %}

    <h3>Liste des autres films avec ces acteurs</h3>
    <ul>
        {% for movie in moviesList %}
            <li>
                <a href="/details/{{ movie.id }}">{{ movie.title }} avec :</a>
                {% for artist in artistList %}<br>{{ artist.firstName }} {{ artist.name }}{% endfor %}
            </li>
        {% endfor %}
    </ul>
    <hr>

    <h3>Liste des autres films du réalisateur {{ director.firstName }} {{ director.name }}</h3>
    <ul>
        {% for movie in movieslistDirector %}
            <li>
                <a href="/details/{{ movie.id }}">{{ movie.title }}</a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}
